:root {
  /* color */
  --fd-22: #fdfbf6;
  --22-fd: #222222;
  --22-e2: #222222;
  --44-e2: #444444;
  --66-9c: #666666;
  --66-ca: #666666;
  --ff-fd: #ffffff;

  /* z-index */
  --z-n-5: -5;
  --z-n-1: -1;
  --z-5: 5;
  --z-10: 10;
  --z-50: 50;
  --z-100: 100;
}

[theme="dark"] {
  --fd-22: #222222;
  --22-fd: #fdfbf6;
  --22-e2: #e2e2e0;
  --44-e2: #e2e2e0;
  --66-9c: #9c9c9c;
  --66-ca: #cac8c8;
  --ff-fd: #fdfbf6;
}
